.topbar {
  display: flex;
  align-items: center;
  padding: 1rem 10rem;
  background: transparent;
}
.topbar h1 {
  flex: 1;
  font-size: 1.5rem;
}
.search {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--bg);
  border-radius: 4px;
  font-size: 1.5rem;
  height: 50px;
}
.search input {
  background: white;
  border-radius: 6px;
  border: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--text-muted);
  outline: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 400px;
  height: 36px;
}

.search button {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  border-radius: 6px;
  color: white;
  background-color: rgb(78, 204, 163);
  border: none;
  height: 36px;
}

.search button:hover {
  background-color: var(--up);
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  height: 2rem;
}
.badge {
  position: absolute;
  top: -4px;
  right: -8px;
  background: var(--accent3);
  color: var(--bg);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
/* .searchBtn {

  padding: 3px 6px;
  border: none;
  border-radius: 2px;
} */
